     
    <div class="row test">
        
        <div class="col-md-2"></div>
            <div class="col-md-8 card">
                <h2 class="mt-5"><%= @post.title %></h2>
                <p><%= @post.body %></p>
                <div>
                    <small>
                    Posted <%= time_ago_in_words(@post.created_at) %> ago
                    </small>
                    
                    <small>
                    Last edited <%= time_ago_in_words(@post.updated_at) %> ago  
                    </small>
                    <div class="mt-3">
                        <span>
                        <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-primary"%>
                        </span>
                        <span>
                        <%= link_to("Delete", post_path(@post),
                        method: :delete,
                        data: {
                        confirm: "Are you sure?"}, class: "btn btn-primary")%>
                        </span>
                    </div>
                </div>
                
                <div class="mt-5">
                    <h1>Comments</h1>
                    <%= form_for [@post, @comment] do |f| %>
                        <% if @comment.errors.present? %>
                            <p>
                            <%= @comment.errors.full_messages.join(', ') %>
                            </p>
                        <% end %>

                        <%#= f.hidden_field :post_id, value: @post.id %>
                        <div>
                            <%= f.text_area(
                            :body, cols: 60, rows: 6,
                            placeholder: "Leave your comment here!"
                            ) %>
                        </div>

                        <%= f.submit "Submit", class: "mt-3 btn btn-primary" %>
                    <% end %>

                    <div class="comment-list card-body">
                    
                        <% @comments.each do |comment| %>
                            <div class="mt-5">
                                <p>
                                    <%= comment.body %> <br />
                                </p>
                                <small>
                                <%= link_to(
                                    "Delete",
                                    post_comment_path(@post, comment),
                                    method: :delete,
                                    data: {
                                    confirm: "Are you sure?"
                                    }
                                ) %>
                                </small>
                                <small>
                                    Comment <%= time_ago_in_words(comment.created_at) %> ago
                                </small>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <div class="col-md-2"></div>
    </div>